@keyframes flip {
  0% {
    transform: rotateY(0deg);
  },
  100% {
    transform: rotateY(180deg);
  }
}
.CoverSection {
  display: flex;
  height: 100vh;

  .titleWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    background: rgba(white, 0.25);

    .title {
      font-size: 4em;
      padding: 0.5em;
      margin: 0;
      background: black;
      color: white;
      box-shadow: 0 0 200px white;
    }
    .subtitle {
      margin: -1em;
      text-align: right;
      background: white;
      color: black;
      padding: 0.25em 0.5em;
      text-transform: uppercase;
    }
  }

  .mosaic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0;
    flex-wrap: wrap;
    height: 100vh;
    flex-grow: 1;
    align-items: flex-start;
    perspective: 1000px;
  }
  .tile {
    display: inline-block;
    flex-grow: 1;
    width: 10%;

    img, .backside {
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      background-size: contain;
      transition: transform 1000ms ease-in-out;
    }

    .backside {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    &.flipped {

      img {
        transform: rotateY(180deg);
      }

      .backside {
        transform: rotateY(180deg);
      }
    }
  }
}
