@keyframes enter-title {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(-20deg);
    opacity: 1;
  }
  75% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  25% {
    //transform: scale(0);
    //opacity: 1;
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  75% {
    //opacity: 1;
    //transform: scale(0.95);
  }
  100% {
    //opacity: 1;
    transform: scale(1);
  }
}

.CoverSection {
  display: flex;
  height: 100vh;

  .titleWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    background: rgba(white, 0.15);
    perspective: 1000px;

    .title {
      font-size: 4em;
      padding: 0.5em;
      margin: 0;
      background: black;
      color: white;
      box-shadow: 0 0 7em rgba(white, 0.7);
      animation: enter-title 1s ease-in-out;
    }
    .subtitle {
      margin: -1em;
      text-align: right;
      background: white;
      color: black;
      padding: 0.25em 0.5em;
      opacity: 0;
      text-transform: uppercase;
      transform: rotateX(90deg);
      animation: enter-title 700ms ease-in-out 900ms;
      animation-fill-mode: forwards;
      border: 2px solid black;
    }

    @media (max-width: 600px) {
      font-size: 0.5em;
      .subtitle {
        font-size: 2em;
      }
    }
  }

  .mosaic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 0;
    flex-wrap: wrap;
    height: 100vh;
    flex-grow: 1;
    align-items: flex-start;
    perspective: 1000px;
  }
  .tile {
    display: inline-block;
    flex-grow: 1;
    width: 10%;
    @media (max-width: 1400px) {
      width: 12.5%;
    }
    @media (max-width: 1200px) {
      width: 20%;
    }
    @media (max-width: 800px) {
      width: 25%;
    }

    img,
    .backside {
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      background-size: contain;
      transition: transform 1000ms ease-in-out;
    }

    .backside {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    &.flipped {
      img {
        transform: rotateY(180deg);
      }

      .backside {
        transform: rotateY(180deg);
      }
    }
  }
}
