.footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  font-style: italic;
  padding: 0.5em;
  font-size: 0.75em;

  p {
    margin: 0.5em;
  }

  a {
    color: #eee;
    font-weight: 600;
  }
}
