$SkinAndEarth-1: #E85455;
$SkinAndEarth-2: #ECC6B3;

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  //background-color: black;
}

@import "App";
@import "1-components/Navbar";
@import "1-components/Album";
@import "1-components/Title";
@import "1-components/SpotifyPlayer";
@import "1-components/Header";
@import "1-components/CoverSection";
@import "1-components/Footer";
